<footer class="CopyRight">Copyright &copy; 2022 presented by Group 7 <br> 
    Created by Nuha & Baraah</footer>
</div>
<nav>
    <ul>
      <li><i class="fas fa-home"></i><a href="/">Home</a></li>
      <li><i class="fas fa-plus-circle"></i><a href="/new/question">Add a question</a></li>
      <% if (locals.user) { %>
        <li><i class="fas fa-sign-in-alt"></i><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><i class="fas fa-sign-in-alt"></i><a href="/login"> Login</a></li>
      <% } %>
    </div>
    </ul>
</nav>

<script>
    const open = document.getElementById('open')
    const close = document.getElementById('close')
    const container = document.querySelector('.custom-container')

    open.addEventListener('click', () => container.classList.add('show-nav'))

    close.addEventListener('click', () => container.classList.remove('show-nav'))
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>