*{
    box-sizing: border-box;
}

body{
    /* max-width: 700px; */
    margin: 0 auto;
}

.btn {
    background-color: #ff7979;
    border-color: #ff7979;
}

.btn:hover {
    /* background-color: #f9aaaa;
    border-color: #ff7979; */
    color: #ff7979;
    background-color: rgb(245, 240, 240);
    border-color: #ff7979;
}

.container {
    z-index: 2000;
    position: relative;
    min-height: calc(100vh - 110px);

}
.create-date{
    text-align: right;
    margin-right: 1rem;
}

.CopyRight{
    margin-top: 2rem;
    text-align: center;
   
}
.btnAnswer{
    margin-top:7px;
    margin-bottom: 7px;
    text-align: right;
    margin-right: 1rem;
}
.all-card{
    margin-top: 2rem;
}
.ReadQuestion{
    margin-top: 2rem;
    text-align: center;
    border: #ff7979 solid;
    border-radius: 23px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    
}

a{
    color: #ff7979;
}
    

a.class1:hover {
    font-size:130%;
    color: #ff7979;
  
}

.login-pic{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5rem;
}
.A-pic{
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.homepage-img{
    width:200;
    height: 250px;
    border-radius: 50%;
    float: right;
}
.img-div-qadd{
display: flex;
justify-content: center;
margin-bottom: 5px;
}

.qadd-img{
    width:200; 
    height: 250px;
    border-radius: 50%;
  
}


.error {
    color: red;
}

.class1{
    margin-top: 1rem;
    margin-left: 1rem;
}


  .q-card{
   margin-top: 4rem;
   width: 30rem;
   padding: 2rem;
   
  }

  h2{
      margin-top: 2rem;
      color: #ff7979;
  }
h1{
    color: #ff7979;
}


.img-login{
    height: 450px;
    width: 1000px;
    margin-top: 1rem;
    margin-left: 6rem;
}

.img-signup{
    margin-left: 10rem;
    height: 450px;
    width: 900px;
}